pipeline/Get_Swyftx.json
{
	"name": "Get_Swyftx",
	"properties": {
		"activities": [
			{
				"name": "Get config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Sql_Cryptoanalysis",
						"type": "DatasetReference",
						"parameters": {
							"schema": "cfg",
							"table": "swyftx"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For Each endpoint",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get config').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 2,
					"activities": [
						{
							"name": "Get results_copy",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"additionalHeaders": {
										"Authorization": {
											"value": "Bearer @{variables('accessToken')}",
											"type": "Expression"
										}
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SwyftxAPI",
									"type": "DatasetReference",
									"parameters": {
										"relativeURL": {
											"value": "@item().relativeURL",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ResultsJSON",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@item().container",
											"type": "Expression"
										},
										"fileName": {
											"value": "@item().fileName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"accessToken": {
				"type": "String",
				"defaultValue": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IlJrVTRRelF6TlRaQk5rTkNORGsyTnpnME9EYzNOVEZGTWpaRE9USTRNalV6UXpVNE1UUkROUSJ9.eyJodHRwczovL3N3eWZ0eC5jb20uYXUvLWp0aSI6ImJjZDhlYWJmLWNkMDAtNGU5Yi1hOGU1LThmNzdmOGVhYjdmNCIsImh0dHBzOi8vc3d5ZnR4LmNvbS5hdS8tbWZhX2VuYWJsZWQiOnRydWUsImh0dHBzOi8vc3d5ZnR4LmNvbS5hdS8tY291bnRyeV9uYW1lIjoiQXVzdHJhbGlhIiwiaHR0cHM6Ly9zd3lmdHguY29tLmF1Ly1jaXR5X25hbWUiOiJTeWRuZXkiLCJpc3MiOiJodHRwczovL3N3eWZ0eC5hdS5hdXRoMC5jb20vIiwic3ViIjoiYXV0aDB8NWYxZWMxMmY4ZWU4OTgwMDE5MGI5ZTYzIiwiYXVkIjoiaHR0cHM6Ly9hcGkuc3d5ZnR4LmNvbS5hdS8iLCJpYXQiOjE2MTc2MjgxNTQsImV4cCI6MTYxODIzMjk1NCwiYXpwIjoiRVF3M2ZhQXhPVGhSWVRaeXkxdWxaRGk4REhSQVlkRU8iLCJzY29wZSI6ImFwcC5hY2NvdW50LnJlYWQgYXBwLmFkZHJlc3MucmVhZCBhcHAuZnVuZHMucmVhZCBhcHAub3JkZXJzLnJlYWQgb2ZmbGluZV9hY2Nlc3MiLCJndHkiOlsicmVmcmVzaF90b2tlbiIsInBhc3N3b3JkIl19.rTM7WVQKFShGxdPbHz4R40ZyDYZw_6J_DxWBob5nexu1t-VYIixKLGaVtteCLd5dfVDVt9L_PGf2l6MbhGVSmcSZ4iS7-5Nc7B_PL1F5E8KfqgOmip9410TLmwtl814bNaKmpPBon_yQM3pqdPv1uYYu-xgBES9Sd5l2rO_42m-5T1UvmquYEVq5Ayqo8gyE7DV8VJKiRMGJ8FRVRJo2WC3NtrveT7O80vGzxorMWV3xu74d0qPV6qinwugQ_B79xlBsYohWPaMgvZjehLNUoC_v7mxMQX733zpuIAM4OQORY_V-8V6UnRpMMcWEL-R19ekAP98NHzV1a3sxJnFh4w"
			}
		},
		"folder": {
			"name": "To BLOB"
		},
		"annotations": [],
		"lastPublishTime": "2021-03-18T12:23:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}