pipeline/Get_Prices.json
{
	"name": "Get_Prices",
	"properties": {
		"activities": [
			{
				"name": "Retrieve Assets",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Sql_Cryptoanalysis",
						"type": "DatasetReference",
						"parameters": {
							"schema": "cko",
							"table": "vw_tokens"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For each asset",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Retrieve Assets",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Retrieve Assets').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Import Prices",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET"
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "CoingeckoAPI",
									"type": "DatasetReference",
									"parameters": {
										"relativeURL": {
											"value": "coins/@{item().id}/market_chart?vs_currency=usd&days=max",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ResultsJSON",
									"type": "DatasetReference",
									"parameters": {
										"container": "coingecko",
										"fileName": {
											"value": "@{item().tokenSymbol}_price.json",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "To BLOB"
		},
		"annotations": [],
		"lastPublishTime": "2021-03-17T10:52:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}